/* Window bar */

QWK--WindowBar[bar-active=true] {
    background-color: #32BEA6;
}

QWK--WindowBar[bar-active=false] {
    background-color: #2FB39C;
}


/* Title label */

QWK--WindowBar>QLabel#win-title-label {
    padding: 0;
    border: none;
    color: #ECECEC;
    background-color: transparent;
    min-height: 10px;
}


/* System buttons */

QWK--WindowBar>QAbstractButton[system-button=true] {
    qproperty-iconSize: 12px 12px;
    min-width: 36px;
    border: none;
    padding: 0;
    background-color: transparent;
}

QWK--WindowBar>QAbstractButton#min-button {
    qproperty-iconNormal: url(":/window-bar/minimize.svg");
    qproperty-iconSize: 12px 12px;
}

QWK--WindowBar>QAbstractButton#min-button:hover,
QWK--WindowBar>QAbstractButton#min-button:pressed {
    background-color: rgba(0, 0, 0, 15%);
}

QWK--WindowBar>QAbstractButton#max-button {
    qproperty-iconNormal: url(":/window-bar/maximize.svg");
    qproperty-iconChecked: url(":/window-bar/restore.svg");
}

QWK--WindowBar>QAbstractButton#max-button:hover,
QWK--WindowBar>QAbstractButton#max-button:pressed {
    background-color: rgba(0, 0, 0, 15%);
}

QWK--WindowBar>QAbstractButton#fullscreen-button {
    qproperty-iconNormal: url(":/window-bar/fullscreen.svg");
}

QWK--WindowBar>QAbstractButton#close-button {
    qproperty-iconNormal: url(":/window-bar/close.svg");
}

QWK--WindowBar>QAbstractButton#close-button:hover,
QWK--WindowBar>QAbstractButton#close-button:pressed {
    background-color: #e81123;
}


/* Icon button */

QWK--WindowBar>QAbstractButton#icon-button {
    qproperty-iconNormal: url(":/app/example.png");
    qproperty-iconSize: 18px 18px;
    min-width: 40px;
    border: none;
    padding: 0;
    background-color: transparent;
}

/* Menu Bar */

QMenuBar {
    background-color: transparent;
    border: none;
}

QMenuBar>QToolButton#qt_menubar_ext_button {
    qproperty-icon: url(":/window-bar/more-line.svg");
}

QMenuBar>QToolButton#qt_menubar_ext_button:hover,
QMenuBar>QToolButton#qt_menubar_ext_button:pressed {
    background-color: rgba(255, 255, 255, 10%);
}

QMenuBar::item {
    color: #EEEEEE;
    border: none;
    padding: 5px 6px;
}

QMenuBar::item:selected {
    background-color: rgba(255, 255, 255, 10%);
}


/* Menu */

QMenu {
    padding: 4px;
    background: white;
    border: 1px solid #E0E0E0;
}

QMenu::indicator {
    left: 6px;
    width: 20px;
    height: 20px;
}

QMenu::icon {
    left: 6px;
}

QMenu::item {
    background: transparent;
    color: #333333;
    padding: 6px 24px;
}

QMenu::item:selected {
    background-color: rgba(0, 0, 0, 10%);
}

QMenu::item:disabled {
    color: #CCCCCC;
}

QMenu::separator {
    height: 2px;
    background-color: #CCCCCC;
    margin: 6px 0;
}



/* Window */

MainWindow {
    background-color: #F3F3F3;
}

MainWindow[custom-style=true] {
    background-color: transparent;
}

QWidget#clock-widget {
    font-size: 75px;
    color: #333333;
    font-weight: bold;
    background-color: transparent;
}

/* progress slider */
QSlider::Horizontal{
background:transparent;
min-height:12px;
max-height:12px;
}

/* 未划过 */
QSlider::add-page:Horizontal{
background-color: gray;
}
/* 划过进度 */
QSlider::sub-page:Horizontal {
background-color:qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgb(255,0,255), stop:0.5 rgb(0,255,255), stop:1 rgb(255,255,0));
}
/* 槽 */
QSlider::groove:Horizontal {
background:transparent;
height:4px;
}
/* 滑块 */
QSlider::handle:Horizontal {
background-color:lightgreen;
/* background: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
    stop:0.6 #45ADED, stop:0.778409 rgba(255, 255, 255, 255)); */

width:9px;
margin: -3px 0px;
border-radius:4px;
}

QSlider::handle:Horizontal:hover {
background-color:red;
/* background: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5, stop:0.6 #2A8BDA,
    stop:0.778409 rgba(255, 255, 255, 255)); */
}

QWidget#widgetControlPane > QPushButton{
background:transparent;
border:none;
max-width:24px;
min-width:24px;
max-height:24px;
min-height:24px;
}

QWidget#widgetControlPane{
background:transparent;
border:1;
color: #FF0000;
}

QWidget#widgetControlPane > QPushButton:hover{
border:1px solid transparent;
}

QWidget#widgetControlPane > QPushButton#pushButtonPlay{
background:transparent;
border:none;
max-width:24px;
min-width:24px;
max-height:24px;
min-height:24px;
image:url(:/images/Play.png);
}

QWidget#widgetControlPane > QPushButton#pushButtonPlay:hover{
border:1px solid transparent;
}

QWidget#widgetControlPane > QPushButton#pushButtonPlay:checked{
image:url(:/images/Pause.png);
}

QPushButton#pushButtonList{
image:url(:/images/Settings.png);
}

QPushButton#pushButtonPrevious{
image:url(:/images/Previous.png);
}

QPushButton#pushButtonNext{
image:url(:/images/Next.png);
}

QPushButton#pushButtonStop{
image:url(:/images/Stop.png);
}


QPushButton#pushButtonVolume{
image:url(:/images/Volume.png);
}


QPushButton#pushButtonCircle{
image:url(:/images/Circle.png);
}

QPushButton#ListCirclePlay{
image:url(:/images/Circle.png);
}
QPushButton#SingleCirclePlay{
image:url(:/images/Circle1.png);
}
QPushButton#RandomCirclePlay{
image:url(:/images/Circle2.png);
}

QPushButton#pushButtonFullScreen{
image:url(:/images/Fullscreen.png);
}

QWidget#centralwidget QListWidget{
background:transparent;
border:none;
}

QTreeView,QListView,QTableView,QTabWidget::pane{
border:1px solid #242424;
selection-background-color:#646464;
selection-color:#DCDCDC;
alternate-background-color:#525252;
gridline-color:#242424;
}
